<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.user.dao.IAdminDao">
	<select id="totalNum" resultType="int">
		select count(aid) from tb_adm;
	</select>
	<select id="findAll" resultType="Admin">
		select
		aid,account,aname,tel,headImg,role,status from tb_adm;
	</select>

	<select id="findByAccountPwdRole" parameterType="Admin"
		resultType="Admin">
		select
		aid,account,aname,tel,headImg,role from
		tb_adm where
		account=#{account} and pwd=#{pwd} and role=#{role} and status=1;
	</select>
	<select id="findById" parameterType="int"
		resultType="Admin">
		select aid,account,aname,tel,headImg,role from tb_adm where status=1 and aid=#{aid};
	</select>
	<select id="find" parameterType="int" resultType="Admin">
		select
		aid,account,aname,tel,headImg,role,status from tb_adm
		<where>
			<if test="account != null and account !='' ">
				and account=#{account}
			</if>
			<if test="uname != null and uname !='' ">
				and uname=#{uname}
			</if>
			<if test="tel != null and tel !='' ">
				and tel=#{tel}
			</if>
			<if test="role != null and role !='' ">
				and role=#{role}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="Admin" flushCache="true">
		insert into
		tb_adm (`account`,`aname`, `pwd`, `tel`, `headImg`, `role`, `status`)
		values (#{account},#{aname},#{pwd},#{tel},#{headImg},#{role},1);
	</insert>

	<update id="updatePwd" flushCache="true">
		update tb_adm set
		`pwd`=#{npwd} where `aid` = #{aid} and `pwd`=#{opwd};
	</update>

	<update id="update" parameterType="Admin" flushCache="true">
		update
		tb_adm
		<set>
			<if test="tel != null and tel !='' ">
				tel=#{tel},
			</if>
			<if test="headImg != null and headImg !='' ">
				headImg=#{headImg},
			</if>
			<if test="aname != null and aname !='' ">
				aname=#{aname},
			</if>
			<if test="role != null and role !='' ">
				role=#{role},
			</if>
			<if test="status != null and status !='' ">
				status=#{status},
			</if>
		</set>
		where `aid` = #{aid};
	</update>

</mapper>