<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.flowershop.dao.IOrderDao">

	<select id="findByUid" resultType="Order" parameterType="Order">
		select
		oid,createDate,payDate,sendDate, receiveDate, amount, address,receivePerson,tel, flag
		from tb_order where `uid`= #{uid} and status=1;
	</select>
	<select id="findAll" resultType="Order">
		select
		oid,createDate,payDate,sendDate, receiveDate, amount, address,receivePerson,tel, flag
		from tb_order where status=1;
	</select>
	<select id="findByFlag" resultType="Order" parameterType="Order">
		select
		createDate,payDate,sendDate, receiveDate, amount,address,receivePerson,tel from
		tb_order where flag=#{flag} and status=1;
	</select>
	<select id="findByOid" resultType="Order">
		select
		createDate,payDate,sendDate, receiveDate, amount,address,receivePerson,tel from
		tb_order where oid=#{oid} and uid=#{uid} and status=1;
	</select>
	<insert id="insert" parameterType="Order" flushCache="true">
		insert into
		tb_order (`oid`,`createDate`,`amount`,`uid`,`flag`,`status`)
		values (#{oid},#{createDate},#{amount},#{uid}, 0, 1);
	</insert>
	<!-- 更新订单表状态和时间 -->
	<update id="updateFlag" parameterType="Order" flushCache="true">
		update tb_order
		<set>
			<if test="receiveDate != null and receiveDate !='' ">
				`receiveDate`=#{receiveDate},
			</if>
			<if test="sendDate != null and sendDate !='' ">
				`sendDate`=#{sendDate},
			</if>
			<if test="payDate != null and payDate !='' ">
				`payDate`=#{payDate},
			</if>
			<if test="flag != null and flag !='' ">
				`flag`=#{flag},
			</if>
			<if test="status != null and status != ''">
			    `status`=#{status}
			</if>
		</set>
		where `oid`=#{oid}
	</update>
	<!--更新地址和电话和收货人-->
	<update id="updateReceiveInfo" parameterType="Order"
		flushCache="true">
		update tb_order set `address`=#{address},`tel`=#{tel},`receivePerson`=#{receivePerson} where oid=#{oid} and uid=#{uid} and status=1;
	</update>
	
    <!-- 每日订单总额 -->
	<select id="findByDate" resultType="Order">
		select
		DATE_FORMAT(createDate,'%Y-%m-%d') as createDate, sum(amount) as amount
		from
		tb_order group by createDate
	</select>
	<!-- 默认按年查找 -->
	<select id="findDefault" resultType="Order">
	    select * from(select sum(o.amount) as amount ,t.tname,sum(od.num) as sales from tb_type as t, tb_order as o 
	     LEFT JOIN tb_order_details as od ON o.oid = od.oid where o.flag!=0 and
	     YEAR(`createdate`) = YEAR(now()) GROUP BY tname) s order by amount desc 
	</select>
	<!-- 指定时间，不指定类型  -->
	<select id="findTypeTime" resultType="Order">
	    select * from(select sum(o.amount) as amount ,t.tname,sum(od.num) as sales from tb_type as t, tb_order as o 
	     LEFT JOIN tb_order_details as od ON o.oid = od.oid where o.flag!=0 and
	    (ISNULL(#{d}) or DAY(`createdate`) = #{d}) and (ISNULL(#{m}) or MONTH(`createdate`) = #{m}) and YEAR(`createdate`) = #{y} GROUP BY tname) s order by amount desc 
	</select>
    <!-- 指定类型，不指定时间 -->	
	<select id="findByType" resultType="Order">
	    select * from(select sum(o.amount) as amount ,t.tname,sum(od.num) as sales,YEAR(`createdate`) y,MONTH(`createdate`) m ,DAY(`createdate`) d from tb_type as t, tb_order as o 
	     LEFT JOIN tb_order_details as od ON o.oid = od.oid where o.flag!=0 and
	     t.tid = #{tid} GROUP BY tname,y,m,d) s order by amount desc 
	</select>
	<!-- 指定类型和时间 -->		
	<select id="findByTimeAndType" resultType="Order">
	    select * from(select sum(o.amount) as amount ,t.tname,sum(od.num) as sales,YEAR(`createdate`) y,MONTH(`createdate`) m ,DAY(`createdate`) d from tb_type as t, tb_order as o 
	     LEFT JOIN tb_order_details as od ON o.oid = od.oid where o.flag!=0 and
	    (ISNULL(#{d}) or DAY(`createdate`) = #{d}) and (ISNULL(#{m}) or MONTH(`createdate`) = #{m}) and YEAR(`createdate`) = #{y} and t.tid = #{tid} GROUP BY tname,y,m,d) s order by amount desc 
	</select>
	<!-- 不指定鲜花，不指定时间 -->
	<select id="findFlowerSales" resultType="Order">
	    select * from(select sum(o.amount) as amount ,od.fname,sum(od.num) as sales from tb_type as t, tb_order as o 
	     LEFT JOIN tb_order_details as od ON o.oid = od.oid where o.flag!=0 
	     GROUP BY fname) s order by amount desc 
	</select>
	<!-- 指定时间，不指定鲜花 -->
	<select id="findFlowerTime" resultType="Order">
	    select * from(select sum(o.amount) as amount ,od.fname,sum(od.num) as sales from tb_type as t, tb_order as o 
	     LEFT JOIN tb_order_details as od ON o.oid = od.oid where o.flag!=0 and
	    (ISNULL(#{d}) or DAY(`createdate`) = #{d}) and (ISNULL(#{m}) or MONTH(`createdate`) = #{m}) and YEAR(`createdate`) = #{y} GROUP BY fname) s order by amount desc 
	</select>
	<!-- 指定鲜花，不指定时间 -->
	<select id="findByFlower" resultType="Order">
	    select * from(select sum(o.amount) as amount ,od.fname,sum(od.num) as sales,YEAR(`createdate`) as  y,MONTH(`createdate`) as m ,DAY(`createdate`) as d from tb_order as o 
	     LEFT JOIN tb_order_details as od ON o.oid = od.oid where o.flag!=0 and
	     od.fid = #{fid} GROUP BY fname,y,m,d) s order by amount desc 
	</select>
	<!-- 指定时间和鲜花 -->
	<select id="findByFlowerAndTime" resultType="Order">
	    select * from(select sum(o.amount) as amount ,od.fname,sum(od.num) as sales,YEAR(`createdate`) y,MONTH(`createdate`) m ,DAY(`createdate`) d from tb_type as t, tb_order as o 
	     LEFT JOIN tb_order_details as od ON o.oid = od.oid where o.flag!=0 and od.fid = #{fid} and
	    (ISNULL(#{d}) or DAY(`createdate`) = #{d}) and (ISNULL(#{m}) or MONTH(`createdate`) = #{m}) and YEAR(`createdate`) = #{y} GROUP BY fname,y,m,d) s order by amount desc 
	</select>			
</mapper>