<!DOCTYPE html>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ZYL花城</title>
<meta name="description" content="ZYL花城">
<meta name="keywords" content="鲜花,高档礼盒装鲜花">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp">


<link rel="stylesheet" type="text/css" href="/zyl/front/css/detail.css">
</head>

<body>
	<!-- 顶部导航 -->
	<div class="top-nav">
		<div class="top-nav-wrapper">

			<ul class="top-nav-r">
				<!--登陆状态信息显示start-->
				<li class="menu login" id="LoginInfo"><a href="#"
					rel="nofollow">你好，请登录</a><a href="#" rel="nofollow">注册</a></li>
				<!--登陆状态信息显示end-->
				<li class="menu"><a href="#" rel="nofollow" target="_blank">订单查询</a>
				</li>

				<!--购物车信息显示start-->
				<li class="menu"><a href="../cart" rel="nofollow" target="_blank">
						购物车 <span class="text-primary" id="gwcCount">(2)</span>
				</a></li>
				<!--购物车信息显示end-->
				<li class="menu"><a href="#"
					onclick="addfavorite();return false;"><span
						class="icon icon-star"></span>ZYL</a></li>

				</li>
			</ul>
		</div>
	</div>
	<!-- 顶部导航 End -->
	<!-- 头部 -->

	<!-- 导航 -->
	<div id="app">
		<div id="navi" class="clearfix">


			<ul class="navi-nav">
				<li>
					<div class="crumb">
						<a href="#">首页</a> &gt; <a href="#"></a> &gt;
						{{flower.type.tname}} <a href="#"></a> &gt;
						{{flower.series.sname}}
					</div>
				</li>
			</ul>

		</div>
		<!-- 导航 End -->


		<!-- 商品 -->
		<div class="product-wrap">
			<div class="product-intro">
				<div class="product-preview">
					<div class="preview">
						<div class="preview-bigimage">
							<div class="swiper-container" id="productImg">
								<div class="swiper-wrapper"
									style="width: 1833.6px; height: 498.4px;">
									<div
										class="swiper-slide swiper-slide-visible swiper-slide-active"
										style="width: 458.4px; height: 498.4px;">
										<img :src="'..\\'+flower.flowerImg[0]">
									</div>
								</div>
							</div>
						</div>
						<div class="preview-list clearfix" id="swiperController">
							<div class="preview-list-item active"
								@mouseover="changeImg(0,$event)" @mouseout="changeImg(0,$event)">
								<img :src="'..\\'+flower.flowerImg[0]">
							</div>
							<div class="preview-list-item" v-if="index>0"
								v-for="(flowerImg,index) in flower.flowerImg"
								@mouseover="changeImg(index,$event)"
								@mouseout="changeImg(index,$event)">
								<img :src="'..\\'+flowerImg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="product-info">
					<div class="title">
						<p class="title-name">{{flower.fname}}</p>
						<p class="title-desc">{{flower.intro}}</p>
					</div>
					<div class="price">
						<div class="price-item price-sell-price">
							<span class="price-label">售价</span>
							<div class="sell-price" style="opacity: 1;">
								¥<span id="sellPrice" class="s-price">{{flower.price*flower.sale*0.1}}</span>
								<div class="discount-tag-list"></div>
								<span class="original-price">市场价<s id="originalPrice">¥{{flower.price}}</s></span>
							</div>
							<div class="sale-count">
								已售<span>12.73万</span>件
							</div>
							<div class="price-item price-time" style="display: none;">
								<span class="price-label">配送时间</span>
								<div class="price-time-group"></div>
							</div>
						</div>
						<div class="price-item price-discount">
							<span class="price-label"></span>
						</div>
					</div>
					<div class="huayu">
						<div class="huayu-item">
							<span class="huayu-label">花语</span>
							<p class="huayu-content">{{flower.flowerLan}}</p>
						</div>
					</div>
					<div class="delivery">
						<div class="delivery-item delivery-range">
							<span class="delivery-label">配送说明</span>
							<p class="huayu-content">
								{{flower.deliveryDesc}}<br>
							</p>
						</div>
						<div id="deliItem" class="delivery-item delivery-addr" style="">
							<span class="delivery-label">配送至</span> <select
								@change="selectProvince($event)" id="province">
								<option :value="prov.name" v-for="prov in province">{{prov.name}}
								</option>
							</select> <select id="city" @change="selectCity($event)">
								<option :value="c.name" v-for="c in city">{{c.name}}</option>
							</select> <select id="area">
								<option :value="a.name" v-for="a in area">{{a.name}}</option>
							</select>
						</div>
						<div class="delivery-item" style="display: block;">
							<span class="delivery-label">选择</span>
							<div class="deliItem">
								<input v-model="num" type="number" value="1" min="1" v-bind:max="flower.store">
							</div>
						</div>
					</div>
					<div class="btn-group">
						<a id="btnAddcart" @click="addCart" class="btn-group-item btn-addcart" href="javascript:void(0);"><span
							class="icon icon-addcartbtn"></span>加入购物车</a> <a @click="buy"
							class="btn-group-item btn-soonbuy"  href="javascript:void(0);">立即购买</a> <a
							id="btnOtherarea" class="btn-group-item btn-addcart"
							href="javascript:void(0);" style="display: none;">查看该地区鲜花</a> <span
							id="btnSoldout" class="btn-group-item btn-invalid"
							href="javascript:void(0);" style="display: none;">售罄/下架</span>

					</div>

				</div>
			</div>
		</div>
		<!-- 商品 End -->
		<div class="wrap clearfix">
			<div class="aside">
				<div class="aside-item">
					<div class="aside-hd">浏览记录</div>
					<div class="aside-bd">

						<ul class="hot-list">
							<li class="hot-item">
								<div class="hot-item-info">
									<p class="p-title">暂无浏览记录！</p>

								</div>
							</li>
						</ul>

					</div>
				</div>
				<div class="aside-item">
					<div class="aside-hd">热销推荐</div>
					<div class="aside-bd">
						<ul class="hot-list">
							<li class="hot-item"><a href="#">
									<div class="hot-item-pic">
										<img src="#" alt="">
									</div>
									<div class="hot-item-info">
										<p class="p-title">一往情深</p>
										<p class="p-price">¥239</p>
									</div>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="detail">
				<div id="product" class="detail-item detail-product">
					<div class="detail-hd">
						<div class="detail-hd-wp">
							<ul>
								<li class="detail-hd-tab active" data-anchor="#product">商品详情</li>
								<li class="detail-hd-tab" data-anchor="#comment">用户评价(<span>8954</span>)
								</li>
							</ul>
							<div class="fixed-group">
								<p class="fixed-price">
									¥<span>239</span>
								</p>
								<a class="fixed-btn" href="">立即购买</a>
							</div>
						</div>
					</div>
					<div class="detail-bd">
						<div class="detail-product-info">
							<div class="detail-product-info-l">
								<p style="line-height: 68px;">产品参数</p>
							</div>
							<div class="detail-product-info-r">
								<div class="detail-product-info-item">
									<span class="detail-product-info-label">编号</span> <span
										class="detail-product-info-detail">{{flower.fid}}</span>
								</div>
								<div class="detail-product-info-item">
									<span class="detail-product-info-label">类别</span> <span
										class="detail-product-info-detail">{{flower.type.tname}}</span>
								</div>
								<div class="detail-product-info-item">
									<span class="detail-product-info-label">系列</span> <span
										class="detail-product-info-detail">{{flower.series.sname}}</span>
								</div>
								<div class="detail-product-info-item">
									<span class="detail-product-info-label">包装</span> <span
										class="detail-product-info-detail">{{flower.pack}}</span>
								</div>
							</div>
							{{flower.description}}
						</div>
						<div class="detail-product-content">
							<p style="text-align: center;">
								<img src="#" alt="">
							</p>
						</div>
					</div>
				</div>
				<div id="comment" class="detail-item detail-comment">
					<div class="detail-hd">
						<div class="detail-hd-wp">
							<ul>
								<li class="detail-hd-tab" data-anchor="#product">商品详情</li>
								<li class="detail-hd-tab active" data-anchor="#comment">用户评价(<span>8954</span>)
								</li>
							</ul>
							<div class="fixed-group">
								<p class="fixed-price">
									¥<span>239</span>
								</p>
								<a class="fixed-btn" href="#">立即购买</a>
							</div>
						</div>
					</div>
					<div class="detail-bd">
						<div class="detail-comment-bd">
							<div class="detail-comment-list">
								<div class="detail-comment-item" v-for="com in comments">
									<div class="detail-comment-item-user">
										<div class="detail-comment-item-avatar">
											<img src="#" alt="朱*">
										</div>
										<p>**</p>
									</div>
									<div class="detail-comment-item-main tm-m-photos">
										<div class="detail-comment-item-content">
											<p>评价:{{com.details}}</p>
										</div>
										<ul
											class="detail-comment-item-imglist tm-m-photos-thumb clearfix">
											<li class="detail-comment-item-img" data-src="#"><img
												:src="com.comImg" alt=""></li>
										</ul>
										<div class="detail-comment-item-imgviewer tm-m-photo-viewer">
											<a class="detail-comment-item-closeview" href="javascript:;">关闭大图</a>
											<img class="detail-comment-item-viewimg" src="#"> <a
												class="tm-m-photo-viewer-navleft" href="javascript:;"><span
												class="icon icon-imgviewer-left"></span></a> <a
												class="tm-m-photo-viewer-navright" href="javascript:;"><span
												class="icon icon-imgviewer-right"></span></a>
										</div>
										<div class="detail-comment-item-btm">
											<span class="detail-comment-item-addr">浙江杭州市余杭区</span> <span
												class="detail-comment-item-time">2020-04-23</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="address" style="display: none"></div>
</body>

<script type="text/javascript"
	src="//api.map.baidu.com/api?v=2.0&ak=Fn0BvD3aGemRSpKuVLa6wn9AWWc01EsX"></script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="/zyl/back/js/vue.js" type="text/javascript"></script>
<script src="/zyl/back/js/axios.js" type="text/javascript"></script>
<script type="text/javascript" src="/zyl/front/js/qs.js"></script>

<script>
    let vm = new Vue({
        el: "#app",
        data: {
            flower: '',
            fid: -1,
            province: '',
            city: '',
            area: '',
            num:1,
            comments:[]
        },
        methods: {
            //切换图片
            changeImg: function(index, e) {
                $(e.currentTarget).addClass("active").siblings().removeClass("active");
                $("#productImg img").attr("src", "../" + this.flower.flowerImg[index]);
            },
            mProvince: function(val) {
                for (let i = 0, len = this.province.length; i < len; i++) {
                    if (this.province[i].name == val) {
                        this.city = this.province[i].sub;
                        this.area = '';
                        return;
                    }
                }
            },
            mCity: function(val) {
                for (let i = 0, len = this.city.length; i < len; i++) {
                    if (this.city[i].name == val) {
                        this.area = this.city[i].sub;
                        return;
                    }
                }
            },
            selectProvince: function(e) {
                console.log(e.currentTarget.value);
                let val = e.currentTarget.value;
                this.mProvince(val);

            },
            selectCity: function(e) {
                let val = e.currentTarget.value;
                console.log(this.city);
                this.mCity(val);
            },
            addCart:function(){
            	 let that=this;
            	 axios.post("/zyl/cart/add",{
            		 uid:101,
            		 fid:that.flower.fid,
            		 num:that.num
            	 },"json").then(res => {
                     this.province = res.data;
                 });
            },
            buy:function(){
            	axios.post("/zyl/order/insertOne",JSON.stringify({fid:this.fid,num:this.num}), {
      			  headers: {
      			    'Content-Type': 'application/json;charset=UTF-8'
      			  }
      			}).then(res =>{
             		console.log(res);
  					location.href="../orderDetails/"+res.data.data;
      			});
            }

        },
        mounted: function() { //页面渲染完成后执行的方法
            let arr = window.location.href.split("/");
            this.fid = arr[arr.length - 1]
            axios.get("/zyl/flower/" + this.fid).then(res => {
                res.data.data[0].flowerImg = res.data.data[0].flowerImg.split(",");
                this.flower = res.data.data[0];
            });
            axios.get("/zyl/front/js/city.json").then(res => {
                this.province = res.data;
            });
            axios.post("/zyl/comments/findByFid" , qs.stringify({fid:this.fid})).then(res => {
                this.comments = res.data.data;
            });          
        },

        created: function() {
            // 百度地图API功能	
            var map = new BMap.Map("address");
            var point = new BMap.Point(116.331398, 39.897445);
            map.centerAndZoom(point, 12);
            var geoc = new BMap.Geocoder();
            var geolocation = new BMap.Geolocation();
            let that = this;
            geolocation.getCurrentPosition(function(r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    var mk = new BMap.Marker(r.point);
                    geoc.getLocation(r.point, function(rs) {
                            var addComp = rs.addressComponents;
                            console.info(addComp);
                            let prov;
                            if (addComp.province.length > 3) {
                                prov = addComp.province.substring(0, 3);
                            } else {
                                prov = addComp.province.substring(0, 2);
                            }
                            let c;
                            if (addComp.city.length > 2) {
                                c = addComp.city.substring(0, 2);
                            } else {
                                c = addComp.city.substring(0, 1);
                            }
                        
                            that.mProvince(prov);
                            that.mCity(c);
                            //渲染完在选择
                            setTimeout(function(){
                            	 $("#province").val(prov);
                                 $("#city").val(c);
                                 $("#area").val(addComp.district);
                            },300);
                            	
                        }

                    );
                } else {
                    alert('failed' + this.getStatus());
                }
            }, {
                enableHighAccuracy: true
            })
           
        }
    })
</script>

</html>