
.error-span {
    float: left;
    width: 90%;
    height: 18px;
    margin: 2px 5% 2px 5%;
    text-align: left;
    color: red;
    font-size: 12px;
    margin-left:60px;
}



.main-form {
  width: 364px;
  margin: 50px auto;
  color: #232628;
  font-size: 0;
}
.main-form .avatar-img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #E9ECF0;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}
.main-form .avatar-btn {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}
.main-form .avatar-btn span {
  color: #232628;
  text-decoration: none;
}
.main-form .avatar-btn span:hover {
  color: #FF734C;
}
.main-form .form-group {
  list-style: none;
  margin-top: 24px;
  padding: 0;
}
.main-form .form-group > li {
  padding: 0;
  height: 36px;
  margin-bottom: 16px;
}
.main-form .form-group > li > label {
  display: inline-block;
  width: 58px;
  margin: 0;
  font-size: 12px;
  vertical-align: top;
  font-weight: normal;
  line-height: 36px;
}
.main-form .form-group-item {
  display: inline-block;
  width: 306px;
  height: 100%;
  vertical-align: top;
}
.main-form .form-group-item input {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  line-height: 34px;
  border: 1px solid #E9ECF0;
  border-radius: 2px;
  outline: none;
  font-size: 12px;
  color: #232628;
}
.main-form .form-group-item input::-webkit-input-placeholder {
  color: #B4BABF;
}
.main-form .form-group-item input::-moz-placeholder {
  color: #B4BABF;
}
.main-form .form-group-item input:-moz-placeholder {
  color: #B4BABF;
}
.main-form .form-group-item input:-ms-input-placeholder {
  color: #B4BABF;
}
.main-form .form-group .form-name {
  position: relative;
}
.main-form .form-group .form-name-len {
  position: absolute;
  right: 12px;
  top: 0;
  color: #B4BABF;
  font-size: 12px;
  line-height: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-form .form-group .form-sex-item {
  display: inline-block;
  width: 60px;
  font-size: 12px;
  line-height: 34px;
  border: 1px solid #E9ECF0;
  color: #232628;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.main-form .form-group .form-sex-item.active {
  background-color: #FFF0EC;
  border-color: #FF734C;
}
.main-form .form-group .form-sex .form-sex-item + .form-sex-item {
  margin-left: 8px;
}
.main-form .form-group .form-birthday-select {
  width: 96px;
  height: 100%;
  border: 1px solid #E9ECF0;
  border-radius: 2px;
  outline: none;
  font-size: 12px;
  padding: 6px 0;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  cursor: pointer;
}
.main-form .form-group .form-birthday-select.active {
  border-color: #FF734C;
}
.main-form .form-group .form-birthday-select option {
  height: 20px;
}
.main-form .form-group .form-birthday .form-birthday-select + .form-birthday-select {
  margin-left: 8px;
}
.main-form .form-group .form-tel span,
.main-form .form-group .form-email span {
  color: #71797F;
  font-size: 12px;
  line-height: 36px;
}
.main-form .form-group .form-tel .form-bind,
.main-form .form-group .form-email .form-bind {
  float: right;
  font-size: 12px;
  line-height: 36px;
  color: #FF734C;
  text-decoration: none;
}
.main-form .form-btn-container {
  margin-top: 60px;
  text-align: center;
}
.main-form .form-submit {
  width: 244px;
  font-size: 14px;
  color: #fff;
  line-height: 36px;
  background-color: #FF734C;
  outline: none;
}

  border-radius: 27px;
  border: none;
  
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.site-nav {
  font-size: 12px;
  min-width: 1200px;
  height: 35px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f2f2f2;
}
.site-nav .site-nav-l {
  float: left;
}
.site-nav .site-nav-r {
  float: right;
}
.common {
  height: 40px;
  margin-bottom: 10px;
  min-width: 1200px;
  background-color: #fe7a24;
}
.common .categorys {
  width: 210px;
  height: 40px;
}
.common .categorys .categorys-title span {
  margin-top: 10px;
}
.ico-member1 {background-repeat: no-repeat;
 width: 24px;
  height: 24px;}
 
.ico {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.categorys .categorys-title {
  font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  display: block;
  margin: 0 0 -5px;
  padding: 0 15px;
  color: #fff;
}
.categorys {
  position: relative;
  display: block;
  float: left;
  background-color: #ff6a00;
}

.categorys .categorys-title a {
  color: #fff;
}
.container {
  width: 1200px;
  max-width: none !important;
  padding-right: 0;
  padding-left: 0;
}
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-nav ul .menu {
  line-height: 34px;
  display: block;
  float: left;
}
.site-nav ul .menu > a {
  position: relative;
  display: block;
  height: 35px;
  padding: 0 8px;
}
.site-nav ul .menu > a .ico {
  margin-right: 2px;
}
.site-nav ul .menu > a .glyphicon {
  font-size: 10px;
  margin-left: 2px;
  color: #d9d9d9;
}
.site-nav ul .menu > a:hover {
  text-decoration: none;
  color: #ff6a00;
}
.site-nav ul .menu > a:hover .glyphicon {
  color: #ff6a00;
}
.site-nav ul .slogan {
  margin-left: 5px;
}
.site-nav ul .login {
  padding-right: 6px;
}
.site-nav ul .login > a {
  display: inline-block;
  padding-right: 2px;
}
.site-nav ul .ico-star,
.site-nav ul .ico-cart {
  margin-top: -2px;
}
.site-nav ul .ico-weixin,
.site-nav ul .ico-mobile {
  margin-top: -1px;
}
.site-nav ul .dropdown > a {
  z-index: 1001;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-bottom: 0;
}
.site-nav ul .dropdown > a:hover {
  color: #ff6a00;
  border-color: #d9d9d9;
  border-bottom-color: #fff;
  background-color: #fff;
}
.site-nav ul .dropdown.open > a,
.site-nav ul .dropdown.open > a:hover {
  color: #ff6a00;
  border-color: #d9d9d9;
  border-bottom-color: #fff;
  background-color: #fff;
}
.site-nav ul .dropdown.open > a .glyphicon,
.site-nav ul .dropdown.open > a:hover .glyphicon {
  color: #ff6a00;
}
.site-nav ul .site-nav-pipe {
  float: left;
  overflow: hidden;
  width: 1px;
  height: 12px;
  margin: 11px 1px;
  padding: 0;
  background-color: #d9d9d9;
}
.w210 {
    position: relative;
    width: 210px;
  }
  .w970 {
    position: relative;
    width: 970px;
  }
  .l230 {
    left: 230px;
  }
  .r970 {
    right: 970px;
  }
  .title {
    margin-bottom: 20px;
    padding: 8px 20px;
    background-color: #f5f5f5;
  }
  .title h3 {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\ ' ;
	}
	.tab-pane fade in active .title .form-control {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    margin: 0;
  }
  .title .form-control {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    width: 110px;
    margin-left: 10px;
  }
   .box-border .order-panel {
    font-size: 12px;
    margin: 0 30px;
  }
  .box-border .order-panel .hd {
    background-color: #e7e7e7;
  }
  .box-border .order-panel .bd {
    border: 1px solid #f2f2f2;
  }
  .box-border .order-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .box-border .order-panel ul:before,
  .box-border .order-panel ul:after {
    content: " ";
    display: table;
  }
  .box-border .order-panel ul:after {
    clear: both;
  }
  .box-border .order-panel ul li {
    float: left;
  }
  .box-border .order-panel .order-title {
    line-height: 30px;
    text-align: center;
  }
  .box-border .order-panel .order-title .number {
    width: 260px;
  }
  .box-border .order-panel .order-title .consignee {
    width: 100px;
  }
  .box-border .order-panel .order-title .order-price {
    width: 130px;
  }
  .box-border .order-panel .order-title .date {
    width: 160px;
  }
  .box-border .order-panel .order-title .state {
    width: 150px;
  }
  .box-border .order-panel .order-title .state .form-control {
    display: block;
    width: 90px;
    margin: 0 auto;
  }
  .box-border .order-panel .order-title .operate {
    width: 100px;
  }
  .box-border .order-panel .order-list {
    padding: 15px 10px;
    border-top: 1px solid #f2f2f2;
  }
  .box-border .order-panel .order-list:first-child {
    border-top: 0;
  }
  .box-border .order-panel .order-list .img-box {
    width: 70px;
  }
  .box-border .order-panel .order-list .img-box img {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
  }
  .box-border .order-panel .order-list .number {
    line-height: 50px;
    width: 180px;
  }
  .box-border .order-panel .order-list .consignee {
    line-height: 50px;
    width: 100px;
    text-align: center;
  }
  .box-border .order-panel .order-list .order-price {
    line-height:50px;
    width: 130px;
    text-align: center;
  }
  .box-border .order-panel .order-list .order-price .price-sign {
    margin-right: 1px;
  }
  .box-border .order-panel .order-list .date {
    line-height: 50px;
    width: 160px;
    text-align: center;
  }
  .box-border .order-panel .order-list .state {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    line-height: 50px;
    width: 150px;
    text-align: center;
  }
  .box-border .order-panel .order-list .state b {
    color: #ff6a00;
  }
  .box-border .order-panel .order-list .operate {
    line-height: 24px;
    width: 90px;
    text-align: center;
    color: #809903;
  }
  .box-border .order-panel .order-list .operate a {
    color: #809903;
  }
  .box-border .order-panel .order-list .operate .btn {
    display: block;
    width: 66px;
    margin: 0 auto 4px;
    padding: 2px 0;
    color: #fff;
    border-radius: 2px;
  }
    .box-border .order-panel .order-list .operate.lh22 {
    line-height: 22px;
  }
    .address-wrap {
    margin: 30px 30px 60px;
  }
  .address-wrap .address-add {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .address-wrap .address-add span {
    display: inline-block;
    margin-left: 20px;
    color: #adadad;
  }
  .address-wrap .address-add span b {
    font-weight: normal;
    color: #95b202;
  }
  .address-wrap .address-info {
    font-size: 12px;
    position: relative;
    margin-bottom: 20px;
    padding: 20px 25px;
    border: 1px solid #d9d9d9;
    background-color: #f9f9f9;
  }
  .address-wrap .address-info .close {
    font-size: 28px;
    font-weight: normal;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .address-wrap .address-info h5 {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px;
  }
  .address-wrap .address-info .address-list {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
  }
  .address-wrap .address-info .address-list li {
    line-height: 24px;
  }
  .address-wrap .address-info .address-list li b {
    font-weight: normal;
    display: inline-block;
    width: 70px;
    color: #adadad;
  }
  .address-wrap .address-info .operate {
    text-align: right;
  }
  .address-wrap .address-info .operate a {
    color: #95b202;
  }
    .attention-all {
    font-size: 12px;
    padding: 20px 30px;
    border-bottom: 1px solid #d9d9d9;
  }
  .attention-all:before,
  .attention-all:after {
    content: " ";
    display: table;
  }
  .attention-all:after {
    clear: both;
  }
  .attention-all .all-l {
    float: left;
  }
  .attention-all .all-l .checkbox {
    display: inline-block;
    width: 50px;
    margin-right: 10px;
  }
  .attention-all .all-l a {
    color: #809903;
  }
  .attention-all .all-l .btn-m {
    margin-top: -4px;
    color: #585657;
  }
  .attention-all .all-r {
    line-height: 30px;
    float: right;
    margin: 4px 0 0;
  }
  .attention-all .all-r .btn {
    margin-top: -4px;
    margin-left: 10px;
    padding: 2px 6px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
  .attention-all .all-r .btn .glyphicon {
    color: #e5e5e5;
  }
  .attention-all .all-r .btn:hover .glyphicon,
  .attention-all .all-r .btn:focus .glyphicon {
    color: #737373;
  }
  .member-r {
    min-height: 510px;
    padding: 0;
  }
  .member-r:before,
  .member-r:after {
    content: " ";
    display: table;
  }
  .member-r:after {
    clear: both;
  }
  .member-r > .title {
    margin-bottom: 20px;
    padding: 8px 30px;
    background-color: #eee;
  }
  .member-r .member-info {
    margin-bottom: 20px;
    padding: 0 30px;
  }
  .member-r .member-info:before,
  .member-r .member-info:after {
    content: " ";
    display: table;
  }
  .member-r .member-info:after {
    clear: both;
  }
  .member-r .member-info .user {
    float: left;
    width: 250px;
  }
  .member-r .member-info .user:before,
  .member-r .member-info .user:after {
    content: " ";
    display: table;
  }
  .member-r .member-info .user:after {
    clear: both;
  }
  .member-r .member-info .user .avatar {
    float: left;
  }
  .member-r .member-info .user .avatar a {
    display: block;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background: url(../img/avatar_default_92.png) 0 0 no-repeat;
  }
  .member-r .member-info .user .avatar a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .member-r .member-info .user p {
    font-weight: bold;
    line-height: 21px;
    margin-top: 25px;
    margin-left: 112px;
  }
  .member-r .member-info .user p .ico {
    margin-top: -4px;
    margin-right: 4px;
  }
  .member-r .member-info .my-counts {
    font-size: 12px;
    float: left;
    margin: 0 50px;
    padding: 10px 30px;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
  }
  .member-r .member-info .my-counts a {
    display: inline-block;
    width: 80px;
    text-align: center;
  }
  .member-r .member-info .my-counts a b {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 4px;
    padding-top: 8px;
    text-align: center;
    border: 1px solid #ffeee3;
    border-radius: 50%;
    background-color: #ffeee3;
  }
  .member-r .member-info .my-counts a:hover b,
  .member-r .member-info .my-counts a:focus b {
    border-color: #fcaf7d;
  }
  .member-r .member-info .my-stuffs {
    font-size: 12px;
    line-height: 23px;
    float: left;
    margin: 0;
    padding: 0;
  }
  .member-r .member-info .verify-mobile {
    clear: both;
    padding-top: 20px;
  }
  .member-r .member-info .verify-mobile p {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 0;
    padding: 2px 10px;
    color: #999999;
    border: 1px solid #feb98a;
    background-color: #fbf0e8;
  }
  .member-r .member-info .verify-mobile p .ico {
    margin-top: -4px;
  }
  .member-r .member-info .verify-mobile .btn {
    line-height: 25px;
    height: 26px;
    margin-top: -2px;
    padding: 0 15px;
  }
  .member-r .how-vip {
    margin: 0 30px 20px;
    padding: 10px 25px;
    border: 1px solid #d9d9d9;
  }
  .member-r .how-vip h3 {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
  }
  .member-r .how-vip p {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .member-r .member-panel {
    margin: 0 30px 20px;
    border: 1px solid #d9d9d9;
  }
  .member-r .member-panel .hd {
    line-height: 28px;
    height: 28px;
    padding: 0 20px;
    background-color: #ebebeb;
  }
  .member-r .member-panel .hd:before,
  .member-r .member-panel .hd:after {
    content: " ";
    display: table;
  }
  .member-r .member-panel .hd:after {
    clear: both;
  }
  .member-r .member-panel .hd h4 {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
  }
  .member-r .member-panel .hd a {
    font-size: 12px;
    float: right;
  }
  .member-r .member-panel .bd {
    padding: 5px 20px;
  }
  .member-r .member-panel .bd:before,
  .member-r .member-panel .bd:after {
    content: " ";
    display: table;
  }
  .member-r .member-panel .bd:after {
    clear: both;
  }
  .member-r .member-panel .lates-torder {
    font-size: 12px;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 2px dotted #d9d9d9;
  }
  .member-r .member-panel .lates-torder:before,
  .member-r .member-panel .lates-torder:after {
    content: " ";
    display: table;
  }
  .member-r .member-panel .lates-torder:after {
    clear: both;
  }
  .member-r .member-panel .lates-torder:first-child {
    border-top: 0;
  }
  .member-r .member-panel .lates-torder div {
    line-height: 58px;
    float: left;
    text-align: center;
  }
  .member-r .member-panel .lates-torder .img-box {
    margin-right: 15px;
    border: 1px solid #d9d9d9;
  }
  .member-r .member-panel .lates-torder .order-num {
    width: 170px;
    text-align: left;
  }
  .member-r .member-panel .lates-torder .order-con {
    width: 130px;
  }
  .member-r .member-panel .lates-torder .order-price {
    width: 100px;
  }
  .member-r .member-panel .lates-torder .order-date {
    width: 180px;
  }
  .member-r .member-panel .lates-torder .order-state {
    width: 120px;
  }
  .member-r .member-panel .lates-torder .order-operate {
    float: right;
    width: 80px;
  }
    .about .box-border .hd {
    background-color: #ffeaeb;
  }
  
  .box-border {
    border: 1px solid #d9d9d9;
  }
  .box-border > .hd {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-weight: bold;
    line-height: 40px;
    position: relative;
    height: 40px;
    padding: 0 0 0 50px;
    color: #585858;
  }
  .box-border > .hd b {
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 51px;
    height: 50px;
  }
  .box-border > .bd {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .box-border > .bd > li {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 10px 0 10px 24px;
    color: #585657;
    border-top: 1px solid #d9d9d9;
  }
  .box-border > .bd > li > .ico {
    margin-top: -4px;
    margin-right: 4px;
  }
  .box-border > .bd > li > a {
    color: #585657;
  }
  .box-border > .bd > li > a > .ico {
    margin-top: -4px;
    margin-right: 4px;
  }
  .box-border > .bd > li > a:hover,
  .box-border > .bd > li > a:focus {
    color: #ff6a00;
  }
  .box-border > .bd > li > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .box-border > .bd > li > ul li {
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 -24px;
  }
  .box-border > .bd > li > ul li a {
    font-size: 12px;
    line-height: 24px;
    display: block;
    margin-left: 28px;
    color: #7e7e80;
  }
  .box-border > .bd > li > ul li a:hover,
  .box-border > .bd > li > ul li a:focus {
    color: #ff6a00;
  }
  .box-border > .bd > li > ul li.active a,
  .box-border > .bd > li > ul li.active a:hover,
  .box-border > .bd > li > ul li.active a:focus {
    color: #ff6a00;
  }
  .box-border .guidance-list {
    margin: 0 30px 30px;
    padding: 0;
    list-style: none;
  }
  .box-border .guidance-list li {
    margin-bottom: 1px;
  }
  .box-border .guidance-list li a {
    font-size: 12px;
    line-height: 40px;
    display: block;
    padding-left: 30px;
    color: #737373;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
  }
  .box-border .guidance-list li a b {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    display: inline-block;
    width: 160px;
  }
  .box-border .guidance-list li a:hover,
  .box-border .guidance-list li a:focus {
    text-decoration: none;
    color: #737373;
    border: 1px solid #dff49f;
    background-color: #f1f9db;
  }

  .box-border .article {
    padding-bottom: 30px;
    color: #7e7e80;
  }
  .box-border .article h3 {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 30px 30px;
    text-align: center;
    border-top: 3px solid #d9d9d9;
  }
  .box-border .article h3 img {
    display: block;
    margin-bottom: -40px;
  }
  .box-border .article h3 b {
    font-family: 'Times New Roman';
    font-size: 30px;
    font-weight: normal;
    display: block;
  }
  .box-border .article h4 {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 20px 30px;
    padding-bottom: 4px;
    color: #ff6a00;
    border-bottom: 2px solid #d9d9d9;
  }
  .box-border .article p {
    font-size: 12px;
    line-height: 22px;
    margin: 0 30px 20px;
    text-align: justify;
  }
  .box-border .article .img-pack {
    margin: 30px;
    text-align: center;
  }
  .box-border .article .img-pack img {
    display: block;
    margin: 0 auto 20px;
  }
  .box-border .article a {
    text-decoration: underline;
    color: #809902;
  }
  .box-border .article a:hover,
  .box-border .article a:focus {
    color: #ff6a00;
  }
  .box-border .article .center-list {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #d9d9d9;
  }
  .box-border .article .center-list li {
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
  }
  .box-border .article .center-list li a {
    text-decoration: none;
    color: #737373;
  }
  .box-border .article .center-list li a:hover {
    color: #ff6a00;
  }

  #editAddrDialog{
     text-align: left;
  }
  
  .label{
  	width:100px;
  	float:right;
  }