<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.product.dao.IFlowerDao">
	<select id="findAll" resultMap="flowerInfo">
		select
		fid,fname,f.description,flowerLan,flowerImg,deliveryDesc,price,sale,intro,pack,store,f.status,f.tid,f.sid,
		tname, sname
		from tb_flower f,tb_type t, tb_series s where f.tid=t.tid
		and f.sid=s.sid;
	</select>
	<resultMap type="Flower" id="flowerInfo" autoMapping="true">
		<id column="fid" property="fid"></id>
		<id column="tid" property="tid"></id>
		<id column="sid" property="sid"></id>

		<association property="type" javaType="FlowerType"
			column="tid">
			<id column="tid" property="tid"></id>
			<result column="tname" property="tname" />
		</association>
		<association property="series" javaType="FlowerSeries"
			column="sid">
			<id column="sid" property="sid"></id>
			<result column="sname" property="sname" />
		</association>
	</resultMap>

	<select id="find" resultMap="flowerInfo">
		select
		fid,fname,f.description,flowerLan,flowerImg,deliveryDesc,price,sale,intro,pack,store,f.status,f.tid,f.sid,
		tname, sname
		from tb_flower f,tb_type t, tb_series s
		<where>
			<if test="fid != null and fid != ''">
				and fid=#{fid}
			</if>
			<if test="fname != null and fname != ''">
				and fname like concat("%",#{fname},"%")
			</if>
			<if test="description != null and description != ''">
				and description=#{description}
			</if>
			<if test="flowerLan != null and flowerLan != ''">
				and flowerLan=#{flowerLan}
			</if>
			<if test="deliveryDesc != null and deliveryDesc != ''">
				and deliveryDesc=#{deliveryDesc}
			</if>
			<if test="price != null and price != ''">
				and price&lt;=#{hprice} and price>=#{lprice}
			</if>
			<if test="flowerImg != null and flowerImg != ''">
				and flowerImg=#{flowerImg}
			</if>
			<if test="status != null and status != ''">
				and status=#{status}
			</if>
			<if test="tid != null and tid != ''">
				and f.tid=#{tid} 
			</if>
			<if test="sid != null and sid != ''">
				and f.sid=#{sid}
			</if>
			and f.tid = t.tid and f.sid = s.sid
		</where>
		<if test="page != null and page != '' and rows!=null and rows!=''">
			limit page,rows
		</if>
	</select>
	
	<select id="findByFid" resultMap="flowerInfo">
	 	select
		fid,fname,f.description,flowerLan,flowerImg,deliveryDesc,price,sale,intro,pack,store,f.status,f.tid,f.sid,
		tname, sname
		from tb_flower f,tb_type t, tb_series s where `fid`= #{fid} and t.tid = f.tid and s.sid = f.sid;
	</select>
	<!-- 查看购物车的信息 -->
	<select id="findCartItems" resultType="CartItem">
		select fid,fname,intro,flowerImg,price,sale,store from tb_flower where
		status=1 and
		fid in
		<foreach item="item" collection="list" separator="," open="("
			close=")" index="">
			#{item}
		</foreach>
	</select>
	<!-- 生成订单时候需要使用 -->
	<select id="findPrice" resultType="Flower">
		select price,sale,intro,fname,flowerImg from
		tb_flower where fid=#{fid}
	</select>
	<!-- 查询鲜花id及名称 -->
	<select id="findIdAndName" resultType="Flower">
		select fid, fname from tb_flower 
	</select>
	<insert id="insert" parameterType="Flower">
		insert into
		tb_flower(`fname`,`description`,`flowerLan`,`deliveryDesc`,`price`,`flowerImg`,`sale`,`intro`,`pack`,`store`,`sid`,`tid`,`status`)
		values(#{fname},#{description},#{flowerLan},#{deliveryDesc},#{price},#{flowerImg},#{sale},#{intro},#{pack},#{store},#{sid},#{tid},1);
	</insert>
	<update id="update" parameterType="FlowerSeries">
		update tb_flower
		<set>
			<if test="fname !=null and fname !='' ">
				fname=#{fname},
			</if>
			<if test="description !=null and description !='' ">
				description=#{description},
			</if>
			<if test="flowerLan !=null and flowerLan !='' ">
				flowerLan=#{flowerLan},
			</if>
			<if test="deliveryDesc !=null and deliveryDesc !='' ">
				deliveryDesc=#{deliveryDesc},
			</if>
			<if test="price !=null and price !='' ">
				price=#{price},
			</if>
			<if test="flowerImg !=null and flowerImg !='' ">
				flowerImg=#{flowerImg},
			</if>
			<if test="sale !=null and sale !='' ">
				sale=#{sale},
			</if>
			<if test="intro !=null and intro !='' ">
				intro=#{intro},
			</if>
			<if test="pack !=null and pack !='' ">
				pack=#{pack},
			</if>
			<if test="store !=null and store !='' ">
				store=#{store},
			</if>
			<if test="sid !=null and sid !='' ">
				sid=#{sid},
			</if>
			<if test="tid !=null and tid !='' ">
				tid=#{tid},
			</if>
			<if test="status !=null and status !='' ">
				status=#{status},
			</if>
		</set>
		where fid=#{fid};
	</update>

</mapper>